// import colors
@import "colors/gruvbox";

* {
    font-family: TerminessTTF Nerd Font Mono;
    font-size: 28px;
}
///* workspaces */
.workspaces_widget {
    border-radius:8px;
    border: 1px solid $border;
    padding: .2rem .5rem 0.2rem .5rem;
    background-color: $bg;
}
.workspace_entry {
    color: $fg;
    border-radius:8px;
    margin: 0 0 0 0;
}
.current {
    color: $workspace_current_fg;
    background-color: $workspace_current_bg;
}
// show window nums in current workspace.
.workspace_superscripts {
    font-size: 22px;
    font-weight: bold;
}
.active_window {
    color: #ffffff;
    font-size: 14px;
}
