// import colors
@import "colors/frosted_glass.scss";

* {
    //font-family: TerminessTTF Nerd Font Mono;
    font-family: JetBrainsMono Nerd Font Mono;
    font-size: 14px;
    font-weight: normal;
    margin: -1 0 -1 0;
}
/* bar */
.bar {
    background-color: rgb(28,28,28,0.4);
}
/* All Module */
.module {
    border-radius:8px;
    //border: 1px solid $border;
    padding: .2rem .5rem 0.2rem .5rem;
    background-color: $module_bg;

}
.volume_submodule {
    background-color: red;
}

/* workspaces */
.workspaces_module {
}
//.workspaces_entry {
//    //font-weight: bold;
//    color: $fg;
//    border-radius:8px;
//    margin: 0 0 0 0;
//}
.current {
    color: #FE8019;
    font-weight: bold;
    background-color: #a89984;
}
/* show window nums in current workspace */
.workspace_superscripts {
    font-size: 22px;
    color: $workspace_superscripts_fg;
}
.active_window_class {
    font-weight: bold;
    font-size: 20px;
    color: $workspace_superscripts_fg;
}
.active_window_title {
    color: $border;
}

/* clock module */
