// import colors
@import 'frosted_glass';

* {
    font-family: TerminessTTF Nerd Font Mono;
    font-size: 28px;
}
///* workspaces */
.workspaces_widget {
    border-radius:8px;
    padding: .2rem .5rem 0.2rem .5rem;
    background-color: $background;
}
.workspace_entry {
    color: $foreground;
    border-radius:8px;
    margin: 0 0 0 0;
}
.workspace_superscripts {
    font-size: 16px;
}
//.workspace_icons{
//}
//
.current {
    color: $workspace_current_foreground;
    background-color: $workspace_current_background;
}
