$foreground: rgba(212, 190, 152, 0.6);

$background: rgba(188, 188, 188, 0.4);


/* workspace */
$workspace_current_foreground: rgba(255, 255, 255, 1);
$workspace_current_background: rgba(169, 182, 101, 1);
